version: 1.0.{build}

branches:
  only:
  - master
  - develop

before_build:
- ps: nuget restore TeachersDiary.sln

build:
  project: TeachersDiary.sln
  verbosity: minimal

environment:
  COVERALLS_REPO_TOKEN:            
    secure: ko/K7KqKctLI2WU4Tv/vRgiRM9vpYss42YEszZQW+hL4PlMdJTXy5cRyBtp6RJAw 

after_test: 
  - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -filter:"+[*]* -[*]*ViewModel -[*]*Entity -[*]*Domain -[*]*Config" -target:"packages\NUnit.ConsoleRunner.3.6.1\tools\nunit3-console.exe" -targetargs:"/domain:single   
    test\Unit\Clients\TeachersDiary.Clients.Mvc.Tests\bin\Debug\TeachersDiary.Clients.Mvc.Tests.dll
    test\Unit\Common\TeachersDiary.Common.Extensions.Tests\bin\Debug\TeachersDiary.Common.Extensions.Test.dll
    test\Unit\Data\TeachersDiary.Data.Services.Tests\bin\Debug\TeachersDiary.Data.Services.Tests.dll
    test\Unit\Services\TeachersDiary.Services.Tests\bin\Debug\TeachersDiary.Services.Tests.dll" -output:coverage.xml

  - packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover coverage.xml 
