 .container.body-content {
     max-width: 100% !important;
 }

 #student-grid {
     width: 100% !important;
 }

.delete-btn {
    background-color: #ed5565 !important;
    border-color: #ed5565 !important;
    color: #FFFFFF !important;
}