<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="javascript:document.getElementById('log-out-input').click()">
                    <i class="fa fa-sign-out"></i> @Resources.LogOffLabel
                </a>
            </li>
        </ul>
        @using (Html.BeginForm<AccountController>(x => x.LogOff(), FormMethod.Post, null, new { id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()

            <input id="log-out-input" type="hidden" />
        }
    </nav>
</div>