@{
    Layout = null;
    ViewBag.Title = "Landing page";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="teachers, diary, teacher's diary, teachers diary, учител, дневник, учителски дневник, дневник на учителя">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <title>@GlobalResources.TeachersDiaryTitle | @ViewBag.Title</title>

  

</head>
<body>

</body>
</html>