@using TeachersDiary.Clients.Mvc.Infrastructure.Constants
@using TeachersDiary.Common.Enumerations
@model IList<ClassViewModel>

@{
    Layout = LayoutConstants.Layout;
}

<div class="wrapper wrapper-content animated fadeInRight row">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h2>Класове</h2>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Класен</th>
                        @if (User.IsInRole(ApplicationRoles.SchoolAdministrator.ToString()))
                        {
                            <th>Действия</th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var classs in Model)
                    {
                        <tr>
                            @if (User.Identity.GetUserId() == classs.ClassTeacher.Id || User.IsInRole(ApplicationRoles.SchoolAdministrator.ToString()))
                            {
                                <td>
                                    @(Html.ActionLink<StudentController>(classs.Name, c => c.Index(classs.Id), new { area = string.Empty }, new { @class = "btn btn-primary" }))
                                </td>
                            }
                            else
                            {
                                <td>
                                    @classs.Name
                                </td>
                            }
                            <td>
                                @classs.ClassTeacher.FullName
                            </td>
                            @if (User.IsInRole(ApplicationRoles.SchoolAdministrator.ToString()))
                            {
                                <td>
                                    @(Html.ActionLink<ClassController>("Изтрий", c => c.Delete(classs.Id), new { area = string.Empty }, new { @class = "btn btn-danger" }))
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>