@model IEnumerable<ClassViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Класове</h2>

<div>
    @foreach(var clas in Model)
    { 
        <div>
            @(Html.ActionLink<StudentController>(clas.Name, c => c.Index(clas.Id), new { area = string.Empty }, new { @class = "btn btn-default" }))
            @(Html.ActionLink<ClassController>("Изтрий", c => c.Delete(clas.Id), new { area = string.Empty }, new { @class = "btn btn-danger" }))
        </div>
        <br/>
    }
</div>