@model IEnumerable<ClassViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach(var clas in Model)
    { 
        <div>
            @clas.Name

            @foreach (var student in clas.Students)
            {
                @student.FirstName @student.MiddleName @student.LastName
            }
        </div>
       
    }
</div>